/* Variables */
:root {
  --sidebarBGColor: rgb(44, 79, 104); /*#333;*/
  --sidebarTextColor: white;
  --mainpageBGColor: rgb(87, 117, 138); /*#333;*/
  --mainpageTextColor: white;
  --section1Color: rgb(64, 110, 142);
  --section2Color: rgb(50, 84, 117);
  --section3Color: rgb(35, 57, 91);
  --section4Color: rgb(29, 41, 64);
  --section5Color: rgb(22, 25, 37);
  --section6Color: rgb(10, 150, 130);
  --section7Color: rgb(40, 90, 130);
  --sectionShadowColor: rgba(0, 0, 0, 0.6);
  --sideBarShadowColor: rgba(0, 0, 0, 0.8);
}
/* Global */
* {
  box-sizing: border-box;
  font-family: "Consolas", sans-serif, Geneva, Tahoma, sans-serif;
}

html {
  /* height: 100vh;
  min-height: 100%; */
  margin: 0;
  padding: 0;
}
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
a,
a:active,
a:link {
  font-style: normal;
  color: white;
}
a:hover {
  color: gray;
}
/* Utils */
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-end {
  justify-content: flex-end;
}
.font-weight-normal {
  font-weight: normal;
}
.wrap {
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.container {
  height: 100%;
  width: 100%;
  display: block;
}
.container-block {
  width: 80%;
  display: block;
}
.my-small {
  margin: 0.3rem 0;
}
.mx-small {
  margin: 0 0.3rem;
}
.m-half {
  margin: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.text-center {
  text-align: center;
}
.font-bold {
  font-style: bold;
}
.font-normal {
  font-style: normal !important;
}
.list-style-circle {
  list-style: circle;
}
.inline {
  display: inline;
}
.hidden {
  display: none;
}
.word-break {
  word-break: break-all;
}
.left-align {
  text-align: left;
}
/* Side Bar */
.sidebar {
  z-index: 30;
  /* height: 100%; */
  width: 25vw;
  background-color: var(--sidebarBGColor);
  color: var(--sidebarTextColor);
  padding: 1rem;
  box-shadow: 0.2rem 0.1rem 0.5rem var(--sideBarShadowColor);
}

/* Main Page */
.mainpage {
  /* height: 100%; */
  width: 75vw;
  background-color: var(--mainpageBGColor);
  color: var(--mainpageTextColor);
}
.img-icon-container {
  width: 25%;
  min-width: 50px;
  padding: 0 0.5rem;
  height: 50px;
}

.detail {
  width: 60%;
  min-width: 50%;
  min-width: 130px;
  margin: 0.5rem;
}
.pop {
  /* opacity: 0; */
  animation: popDown ease-in-out 0.2s;
  /* display: none; */
}
.pop:hover {
  /* opacity: 0; */
  animation: popUp ease-in-out 0.3s;

  transform: scale(1.1, 1.1);
}
@keyframes popUp {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes popDown {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.link {
  text-decoration: underline;
}
.skills-container {
  width: 50%;
  padding: 0.5rem;
}
.skill {
  margin-left: 10px;
  list-style: disc;
}
.exp-detail {
  margin-left: 10px;
  list-style: disc;
}
.section1 {
  z-index: 1;
  background-color: var(--section1Color);
  box-shadow: 0rem -0.1rem 0.5rem var(--sectionShadowColor);
}
.section2 {
  z-index: 2;
  background-color: var(--section2Color);
  box-shadow: 0rem -0.1rem 0.5rem var(--sectionShadowColor);
}
.section3 {
  z-index: 3;
  background-color: var(--section3Color);
  box-shadow: 0rem -0.1rem 0.5rem var(--sectionShadowColor);
}
.section4 {
  z-index: 4;
  background-color: var(--section4Color);
  box-shadow: 0rem -0.1rem 0.5rem var(--sectionShadowColor);
}
.section5 {
  z-index: 5;
  background-color: var(--section5Color);
  box-shadow: 0rem -0.1rem 0.5rem var(--sectionShadowColor);
}
.section6 {
  z-index: 6;
  background-color: var(--section6Color);
  box-shadow: 0rem -0.1rem 0.5rem var(--sectionShadowColor);
}
.section7 {
  z-index: 7;
  background-color: var(--section7Color);
  box-shadow: 0rem -0.1rem 0.5rem var(--sectionShadowColor);
}
